.feed-post,
.feed-create-post {
  max-width: 600px;
  width: 100vw;
}

.trending-weave-text {
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.trending-feed-post {
  width: 100vw;
}
