@font-face {
  font-family: "Fira Sans Extra Condensed";
  src: url("/src/util/fonts/Fira\ Sans\ Extra\ Condensed.ttf") format("truetype");
}

$primary-color: #1b4571;
$secondary-color: #bf2051;
$tertiary-color: #d1d9e6;