@import "variables";
@import "../../node_modules/bootstrap/scss/bootstrap";

.header-title {
  color: $primary-color;
  font-size: 58px;
  font-family: "Fira Sans Extra Condensed";
}

.navbar {
  background-color: $primary-color !important;
}

.login-form {
  max-width: 500px;
  width: 100%;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

#loginButton {
  background-color: $primary-color;
  color: white;
}

#registerButton {
  background-color: $secondary-color;
  color: white;
}

#postButton,
#searchButton {
  background-color: $secondary-color;
  color: white;
}

header {
  background-color: $primary-color;
}

.active {
  text-decoration: underline 1px;
  text-underline-offset: 3px;
}

.feed-main,
.profile-main {
  background-color: $tertiary-color;
  min-height: 100vh;
}

.feed-post,
.feed-create-post {
  max-width: 600px;
  width: 100vw;
}

.trending-feed-post {
  width: 100vw;
}

.post-posted-time {
  color: #8e8e8e;
  font-size: 12px;
}

.small-grey-text {
  color: #8e8e8e;
  font-size: 14px;
}

.pointer,
.create-post-icons > svg {
  cursor: pointer;
}

.trending-weave-text {
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.white-outer-border {
  box-shadow: 0 0 0 4px white;
}

.custom-negative-margin {
  margin-top: -100px;
}

.follow-count,
.profile-menu-items {
  color: #8e8e8e;
  font-size: 14px;
}

.profile-about-p {
  font-size: 14px;
}

.follow-name-font {
  font-size: 14px;
}

.post-box-shadow {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15), 0 6px 6px rgba(0, 0, 0, 0.1);
}

#searchButton {
  color: $secondary-color;
}